<configuration>
    <system.web>
        <customErrors mode="RemoteOnly" defaultRedirect="./404.html" />
    </system.web>
   <connectionStrings>
      <add name="your_connection_string" connectionString="Your actual connection string here"
         providerName="System.Data.SqlClient" />
      <add name="cm_dbConnectionString" connectionString="User Id=cockysa;Password=test12345;Host=localhost;Port=3307;Database=cm_db"
         providerName="Devart.Data.MySql" />
      <add name="cm_dbConnectionString2" connectionString="User Id=cockysa;Password=test12345;Host=localhost;Port=3307;Database=cm_db"
         providerName="Devart.Data.MySql" />
   </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
                <add value="Default.htm" />
                <add value="index.php" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer> 
</configuration>